.business {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: inherit;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 25vh 2rem 2rem 2rem;
  margin: 0;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}
.business .business__title {
  padding: 2rem 0 0 0;
  font-size: 3rem;
}
.business .business__street {
  padding: 1rem 0 0 0;
  font-size: 2rem;
}
.business .business__city {
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
}
.business .business__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}
.business .business__info .info__hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.business .business__info .info__hours .hours__title {
  font-size: 2rem;
}
.business .business__info .info__hours .hours__day {
  font-size: 1.5rem;
}
.business .business__info .info__description {
  width: 50%;
  height: 25vh;
  font-size: 1.5rem;
}
.business .business__info .info__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  width: 25%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.business .business__info .info__contact .contact__phone {
  font-size: 1.5rem;
}
.business .business__info .info__contact .contact__website {
  font-size: 1.25rem;
}
.business .business__reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.business .business__reviews-container .reviews-container__title {
  font-size: 2.5rem;
}
.business .business__reviews-container .reviews-container__dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  padding: 1rem;
}
.business .business__reviews-container .reviews-container__dropdowns .dropdowns__dropdown {
  padding: 1rem;
}
.business .business__reviews-container .reviews-container__reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  min-width: 10rem;
  margin: 2rem;
  flex-wrap: nowrap;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
  opacity: 0.5;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review .review__image {
  width: 10rem;
  height: 10rem;
  background-color: black;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review .review__image:hover {
  cursor: pointer;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review .review__stars {
  text-align: center;
  width: 50%;
  margin: 1rem 0;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review .review__reviewer {
  width: 10rem;
  padding: 0.2rem 0;
  text-align: center;
  text-overflow: ellipsis;
  padding: 0.3rem;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review .review__reviewer:hover {
  cursor: pointer;
}
.business .business__reviews-container .reviews-container__reviews .reviews__review:hover {
  opacity: 1;
}
