.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 15vh 0 5vh 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.landing .landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.landing .landing__container .container__header {
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
}
.landing .landing__container .container__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  flex-wrap: wrap;
  min-height: 100%;
}
.landing .landing__container .container__items .items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 1rem;
  margin: 1rem;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  opacity: 0.8;
  max-height: 15rem;
  min-width: 20%;
}
.landing .landing__container .container__items .items__item .item__landscape {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 0%;
  background-color: #05386b;
  top: -2rem;
  position: relative;
  border: 0.1rem solid #05386b;
  width: 75%;
  min-width: 75%;
  height: 60%;
  min-height: 60%;
}
.landing .landing__container .container__items .items__item .item__landscape:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item .item__image:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item .item__title {
  font-size: 1.2rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.2rem;
}
.landing .landing__container .container__items .items__item .item__info {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.2rem;
}
.landing .landing__container .container__items .items__item .item__info--hover {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0.2rem;
}
.landing .landing__container .container__items .items__item .item__info--hover:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item:hover {
  opacity: 1;
}
.modal .modal-container {
  width: 80%;
  height: 80vh;
  max-height: 80vh;
}
.modal .modal-container .modal__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0 0 0.3rem 0;
  cursor: default;
  color: #05386b;
  max-height: 50%;
}
.modal .modal-container .modal__header .header__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  height: 85%;
  max-height: 85%;
}
.modal .modal-container .modal__header .header__image .image__landscape {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 0%;
  background-color: #05386b;
  top: 0;
  position: relative;
  border: 0.1rem solid #05386b;
  width: 50%;
  min-width: 50%;
  height: 85%;
  max-height: 85%;
  margin: 1rem 1rem 0 1rem;
}
.modal .modal-container .modal__header .header__image .image__landscape:hover {
  cursor: pointer;
}
.modal .modal-container .modal__header .header__image .image__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  height: initial;
  border-radius: 0.5rem;
  width: 10rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  width: 20%;
}
.modal .modal-container .modal__header .header__image .image__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.modal .modal-container .modal__header .header__user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  text-align: center;
  width: 100%;
  height: 15%;
  min-height: 15%;
  max-height: 15%;
}
.modal .modal-container .modal__header .header__user .header__title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}
.modal .modal-container .modal__header .header__user .header__reviewer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  width: 50%;
}
.modal .modal-container .modal__header .header__user .header__reviewer .reviewer__info--onclick {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
}
.modal .modal-container .modal__header .header__user .header__reviewer .reviewer__info {
  font-size: 1rem;
}
.modal .modal-container .modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: 45%;
  max-height: 45%;
}
.modal .modal-container .modal__body .body__stars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  height: 10%;
}
.modal .modal-container .modal__body .body__drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.modal .modal-container .modal__body .body__title {
  height: 10%;
}
.modal .modal-container .modal__body .body__stars {
  text-align: center;
  width: 50%;
  height: 20%;
}
.modal .modal-container .modal__body .body__review {
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  font-size: 1rem;
  height: 50%;
  padding: 0.5rem;
  width: 75%;
  height: auto;
  max-height: 25vh;
  overflow: auto;
}
.modal .modal-container .modal__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.modal .modal-container .modal__footer .footer__button {
  border-radius: 0.5rem;
  width: 10rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0;
}
.modal .modal-container .modal__footer .footer__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.ReactModal__Overlay {
  z-index: 1000;
}
.ReactModal__Body--open {
  position: absolute;
  overflow-y: hidden;
}
.ReactModal__Content--after-open {
  padding: 0 !important;
  overflow: hidden;
  max-height: 80vh;
}
.drop__text--initial {
  font-size: 1rem;
}
.drop__text--uploaded {
  font-size: 0.8rem;
}
