.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 25vh 0 0 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  background-image: url('../imgs/white_brick_wall.png');
}
.landing .landing__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.landing .landing__container .container__header {
  background: #ffffff;
  border: 0.1rem solid #05386b;
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
}
.landing .landing__container .container__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  flex-wrap: wrap;
  min-height: 100%;
}
.landing .landing__container .container__items .items__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  opacity: 0.8;
  margin: 1rem;
  padding: 1rem;
  height: 20rem;
  width: 22%;
  max-width: 22%;
  min-width: 22%;
}
.landing .landing__container .container__items .items__item .item__image {
  width: 10rem;
  height: 10rem;
  background-color: #56879e;
  top: -2rem;
  position: relative;
}
.landing .landing__container .container__items .items__item .item__image:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item .item__image:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px 10px grey;
  filter: brightness(110%);
  opacity: 1;
}
.landing .landing__container .container__items .items__item .item__title {
  text-align: center;
}
.landing .landing__container .container__items .items__item .item__info {
  padding: 0.2rem 0;
  text-align: center;
  text-overflow: ellipsis;
  padding: 0.3rem;
}
.landing .landing__container .container__items .items__item .item__info--hover {
  padding: 0.2rem 0;
  text-align: center;
  text-overflow: ellipsis;
  padding: 0.3rem;
  border-radius: 5rem;
}
.landing .landing__container .container__items .items__item .item__info--hover:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px 10px grey;
  filter: brightness(110%);
  opacity: 1;
}
.landing .landing__container .container__items .items__item:hover {
  opacity: 1;
}
.landing-container__modal .modal-container .modal__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-star;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 1rem;
  cursor: default;
  color: #05386b;
}
.landing-container__modal .modal-container .modal__header .header__title {
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}
.landing-container__modal .modal-container .modal__header .header__review {
  font-size: 2rem;
}
.landing-container__modal .modal-container .modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.landing-container__modal .modal-container .modal__body .body__image {
  width: 25rem;
  height: 25rem;
  background: black;
}
.landing-container__modal .modal-container .modal__body .body__stars {
  text-align: center;
  width: 50%;
  margin: 1rem 0;
}
.landing-container__modal .modal-container .modal__body .body__review {
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  width: 75%;
  height: 25vh;
  overflow: auto;
}
.landing-container__modal .modal-container .modal__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.landing-container__modal .modal-container .modal__footer .footer__button {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: #05386b;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.landing-container__modal .modal-container .modal__footer .footer__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  color: white;
  opacity: 1;
}
.ReactModal__Overlay {
  z-index: 1000;
}
.ReactModal__Body--open {
  position: absolute;
  overflow-y: hidden;
}
