.landing {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: inherit;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 15vh 0 5vh 0;
  margin: 0;
  color: #05386b;
}
.landing .landing__container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.landing .landing__container .container__header {
  background: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  margin: 1rem;
}
.landing .landing__container .container__items {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  flex-wrap: wrap;
  min-height: 100%;
}
.landing .landing__container .container__items .items__item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.5rem;
  margin: 1rem;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-height: 20rem;
  min-width: 20%;
  text-align: center;
}
.landing .landing__container .container__items .items__item:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 2px -1px rgba(0, 0, 0, 0.12);
  opacity: 1;
}
.landing .landing__container .container__items .items__item .item__landscape {
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: 50% 50%;
  top: -2rem;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
}
.landing .landing__container .container__items .items__item .item__landscape:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item .item__landscape:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0 0;
}
.landing .landing__container .container__items .items__item .item__portrait {
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: 50% 50%;
  top: -2rem;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  object-position: 50% 0%;
}
.landing .landing__container .container__items .items__item .item__portrait:hover {
  cursor: pointer;
}
.landing .landing__container .container__items .items__item .item__portrait:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0 0;
}
.landing .landing__container .container__items .items__item .item__description {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.landing .landing__container .container__items .items__item .item__description .item__title {
  font-size: 1.1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.5rem;
}
.landing .landing__container .container__items .items__item .item__description .item__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  font-size: 1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.5rem 0;
}
.landing .landing__container .container__items .items__item .item__description .item__info .info__detail {
  padding: 0 0.5rem;
}
.landing .landing__container .container__items .items__item .item__description .item__info--hover {
  font-size: 1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.landing .landing__container .container__items .items__item .item__description .item__info--hover:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 2px -1px rgba(0, 0, 0, 0.12);
  opacity: 1;
}
.modal .modal__header {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0 0 0.3rem 0;
  color: #05386b;
  max-height: 40vh;
}
.modal .modal__header .header__image {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.modal .modal__header .header__image .image__buttons {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  width: 10vw;
  min-width: 10vw;
  max-width: 10vw;
  padding: 1rem;
}
.modal .modal__header .header__image .image__buttons .image__button {
  border-radius: 0.25rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 5vw;
  min-width: 5vw;
  max-width: 5vw;
  margin: 1rem;
  padding: 0.5rem;
}
.modal .modal__header .header__image .image__buttons .image__button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  filter: brightness(105%);
  font-weight: bolder;
}
.modal .modal__header .header__image .image__landscape {
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: 50% 50%;
  top: 0;
  position: relative;
  min-width: 35vw;
  max-width: 35vw;
  min-height: 35vh;
  max-height: 35vh;
  margin: 1rem 1rem 0 1rem;
}
.modal .modal__header .header__image .image__landscape:hover {
  cursor: pointer;
}
.modal .modal__header .header__image .image__landscape:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0 0;
}
.modal .modal__header .header__image .image__portrait {
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: 50% 50%;
  top: 0;
  position: relative;
  min-width: 15vw;
  max-width: 35vw;
  min-height: 35vh;
  max-height: 35vh;
  margin: 1rem 1rem 0 1rem;
  object-position: 50% 0%;
}
.modal .modal__header .header__image .image__portrait:hover {
  cursor: pointer;
}
.modal .modal__header .header__image .image__portrait:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 0 0;
}
.modal .modal__header .header__user {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  text-align: center;
  min-height: 10%;
  max-height: 10%;
  padding: 2rem;
}
.modal .modal__header .header__user .header__title {
  font-size: 1.1rem;
}
.modal .modal__header .header__user .header__reviewer {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  width: 50%;
}
.modal .modal__header .header__user .header__reviewer .reviewer__info--onclick {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
  font-size: 1.1rem;
}
.modal .modal__header .header__user .header__reviewer .reviewer__info {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
  font-size: 1rem;
}
.modal .modal__body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 40vh;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  min-height: 40vh;
  max-height: 40vh;
}
.modal .modal__body .body__business {
  font-size: 1.1rem;
}
.modal .modal__body .body__stars {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  height: 10%;
  min-width: 75%;
  max-width: 90%;
}
.modal .modal__body .body__drop {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.modal .modal__body .body__title {
  font-size: 1.1rem;
  text-decoration: underline;
  margin: 1rem 0 1.5rem 0;
}
.modal .modal__body .body__stars {
  text-align: center;
  width: 50%;
  height: 20%;
}
.modal .modal__body .body__review {
  font-size: 1rem;
  height: 50%;
  padding: 0.5rem;
  width: 90%;
  height: auto;
  max-height: 25vh;
  overflow-y: auto;
  overflow-wrap: break-word;
}
.modal .modal__footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.modal .modal__footer .footer__button {
  border-radius: 0.25rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 2.5rem;
  margin: 0.5rem 0;
}
.modal .modal__footer .footer__button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  filter: brightness(105%);
  font-weight: bolder;
}
.ReactModal__Overlay {
  z-index: 1000;
}
.ReactModal__Body--open {
  position: absolute;
  overflow-y: hidden;
}
.ReactModal__Content--after-open {
  padding-top: 2rem !important;
  overflow: hidden;
  max-height: 90vh;
}
