.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-width: 0 0 0.1rem 0;
  position: fixed;
  z-index: 5;
  max-height: 20vh;
}
.navbar .navbar__logo {
  width: 20%;
  height: 90%;
  margin: 1rem;
  padding: 1rem;
}
.navbar .navbar__logo:hover {
  cursor: pointer;
}
.navbar .navbar__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.navbar .navbar__center .center__input {
  border: 0.1rem solid black;
  margin-top: 2rem;
  min-width: 80%;
  font-size: 1.5rem;
  padding: 0.2rem;
}
.navbar .navbar__center .center__button {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.navbar .navbar__center .center__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
  opacity: 1;
}
.navbar .navbar__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.navbar .navbar__right .right__user {
  text-align: center;
}
.navbar .navbar__right .right__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.navbar .navbar__right .right__sign:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
  opacity: 1;
}
.navbar .navbar__right .right__sign:hover {
  cursor: pointer;
}
.navbar .navbar__right--logged {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  justify-content: center;
}
.navbar .navbar__right--logged .right__user {
  text-align: center;
}
.navbar .navbar__right--logged .right__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.navbar .navbar__right--logged .right__sign:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
  opacity: 1;
}
.navbar .navbar__right--logged .right__sign:hover {
  cursor: pointer;
}
.navbar .navbar__right--logged .right--logged__hamburger {
  margin-top: 1rem !important;
}
.popover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: #efeff1 !important;
  color: #05386b;
  border: 0.1rem solid black;
  text-align: center;
  top: -40px !important;
  width: 60% !important;
  z-index: 10;
}
.popover .popover-header {
  font-size: 2rem;
  margin: 0.2rem;
  padding: 1rem;
}
.popover .popover-body {
  font-size: 1.5rem;
}
.popover .popover-button {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.popover .popover-button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
  opacity: 1;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.modal .modal__title {
  font-size: 3rem;
  margin: 2rem;
  padding: 1rem;
}
.modal .modal__body {
  font-size: 2rem;
}
.modal .modal__footer .footer__button {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.modal .modal__footer .footer__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
  opacity: 1;
}
