.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  border-width: 0 0 0.1rem 0;
  position: fixed;
  z-index: 5;
  max-height: 15vh;
}
.navbar .navbar__logo {
  width: 10vw;
  height: 85%;
  margin: 0.5rem;
}
.navbar .navbar__logo:hover {
  cursor: pointer;
}
.navbar .navbar__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  max-width: 50vw;
}
.navbar .navbar__center .center__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-width: 100%;
  padding-left: 10vw;
}
.navbar .navbar__center .center__search .search__input {
  border: 0.1rem solid black;
  border-right: 0.1rem solid grey;
  border-right-style: dashed;
  width: 50%;
  min-width: 50%;
  font-size: 1rem;
  padding: 0.5rem;
  min-height: 1.5rem;
}
.navbar .navbar__center .center__search .search__input:last-of-type {
  border-left: 0;
  border-right: 0;
  width: 40%;
  min-width: 40%;
}
.navbar .navbar__center .center__search .search__button {
  margin: 0;
  width: 10%;
  min-width: 10%;
  min-height: 2.5rem;
  border-radius: 0;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.navbar .navbar__center .center__search .search__button:hover {
  cursor: pointer;
  filter: brightness(110%);
  font-weight: bolder;
}
.navbar .navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-width: 20vw;
  max-width: 20vw;
  padding-right: 2vw;
}
.navbar .navbar__right .right__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  border-radius: 0.5rem;
  width: 10rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  padding: 1rem 0;
  width: 35%;
  max-width: 35%;
  height: 35%;
  max-height: 35%;
}
.navbar .navbar__right .right__sign:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.navbar .navbar__right .right__sign:last-of-type {
  margin-left: 1rem;
}
.navbar .navbar__right--logged {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-width: 15vw;
  max-width: 15vw;
  padding-right: 2vw;
}
.navbar .navbar__right--logged .right--logged__text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 0.2rem;
  text-align: left;
  font-size: 1.2rem;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.modal .modal__title {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
}
.modal .modal__body {
  font-size: 1rem;
}
.modal .modal__footer .footer__button {
  border-radius: 0.5rem;
  width: 10rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
}
.modal .modal__footer .footer__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
