.new-review .new-review__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  text-align: center;
  color: #05386b;
}
.new-review .new-review__modal .modal__header {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: auto;
}
.new-review .new-review__modal .modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.new-review .new-review__modal .modal__body .body__drop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.new-review .new-review__modal .modal__body .body__drop .drop__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  max-width: 200px;
  min-height: 200px;
  border: 0.1rem dashed #05386b;
}
.new-review .new-review__modal .modal__body .body__drop .drop__container .drop__text--initial {
  padding: 0.5rem;
}
.new-review .new-review__modal .modal__body .body__drop .drop__container:hover {
  cursor: pointer;
}
.new-review .new-review__modal .modal__body .body__drop .drop__image--post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-width: 200px;
  min-height: 200px;
}
.new-review .new-review__modal .modal__body .body__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  font-size: 1.2rem;
  height: 20%;
  margin: 1rem;
}
.new-review .new-review__modal .modal__body .body__title .title__label {
  text-align: right;
  width: 20%;
  padding-right: 2rem;
}
.new-review .new-review__modal .modal__body .body__title .title__info {
  padding: 0.5rem;
  width: 60%;
}
.new-review .new-review__modal .modal__body .body__review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  margin: 1rem;
}
.new-review .new-review__modal .modal__body .body__review .review__label {
  text-align: right;
  padding-right: 2rem;
  width: 20%;
}
.new-review .new-review__modal .modal__body .body__review .review__info {
  width: 60%;
  height: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  padding: 0.5rem;
}
.new-review .new-review__modal .modal__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.new-review .new-review__modal .modal__footer .footer__buttons .buttons__button {
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  margin: 1rem 0;
}
.new-review .new-review__modal .modal__footer .footer__buttons .buttons__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.new-review .new-review__modal .modal__footer .footer__buttons .buttons__button:last-of-type {
  margin-left: 1rem;
}
.new-review .new-review__modal .modal__footer .footer__text {
  color: red;
  height: 1rem;
}
