.new-review .new-review__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
}
.new-review .new-review__modal .modal__header {
  height: auto;
  font-size: 3rem;
}
.new-review .new-review__modal .modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.new-review .new-review__modal .modal__body .body__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.new-review .new-review__modal .modal__body .body__images .images__previews {
  height: inherit;
}
.new-review .new-review__modal .modal__body .body__images .images__previews .previews__preview {
  width: auto;
  height: 5em;
}
.new-review .new-review__modal .modal__body .body__images .images__previews .previews__preview:hover {
  cursor: pointer;
}
.new-review .new-review__modal .modal__body .body__images .images__previews .previews__text {
  font-size: 1.25rem;
}
.new-review .new-review__modal .modal__body .body__images .images__image {
  background: black;
  width: 5em;
  height: 5em;
  margin: 0 1rem 2rem 1rem;
}
.new-review .new-review__modal .modal__body .body__images .images__image .image__add:hover {
  cursor: pointer;
}
.new-review .new-review__modal .modal__body .body__images .images__image .image__text {
  font-size: 1.25rem;
}
.new-review .new-review__modal .modal__body .body__images input[type='file'] {
  display: none;
}
.new-review .new-review__modal .modal__body .body__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: 20%;
  margin: 1rem;
}
.new-review .new-review__modal .modal__body .body__title .title__label {
  text-align: right;
  width: 20%;
  padding-right: 2rem;
}
.new-review .new-review__modal .modal__body .body__title .title__info {
  font-size: 1.5rem;
  width: 60%;
}
.new-review .new-review__modal .modal__body .body__review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin: 1rem;
}
.new-review .new-review__modal .modal__body .body__review .review__label {
  text-align: right;
  padding-right: 2rem;
  width: 20%;
}
.new-review .new-review__modal .modal__body .body__review .review__info {
  font-size: 1.5rem;
  width: 60%;
  height: 10rem;
}
.new-review .new-review__modal .modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.new-review .new-review__modal .modal__footer .footer__button {
  border: outset;
  width: 30%;
  padding: 0.5rem;
  margin: 0 2rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 1.5rem;
}
