.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 15vh 0 5vh 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: 100vh;
}
.search .search__title {
  font-size: 1.5rem;
  margin: 2rem 2rem 0 2rem;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
}
.search .search__results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 90%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: inherit;
  flex-wrap: wrap;
}
.search .search__results .results__result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0 0 1rem 0;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 30vh;
  max-height: 30vh;
  opacity: 0.8;
}
.search .search__results .results__result .result__image {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 0%;
  background-color: #05386b;
  top: 0;
  position: relative;
  border: 0.1rem solid #05386b;
  min-height: inherit;
  max-height: inherit;
  min-width: 40%;
  max-width: 40%;
}
.search .search__results .results__result .result__image:hover {
  cursor: pointer;
}
.search .search__results .results__result .result__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: 100%;
  min-width: 30%;
  max-width: 30%;
}
.search .search__results .results__result .result__logo .logo__image {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 0%;
  background-color: #05386b;
  top: 0;
  position: relative;
  border: 0.1rem solid #05386b;
  border: 0;
  min-height: 50%;
  max-height: 50%;
  min-width: 50%;
  max-width: 50%;
}
.search .search__results .results__result .result__logo .logo__image:hover {
  cursor: pointer;
}
.search .search__results .results__result .result__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: inherit;
  max-height: inherit;
  min-width: 30%;
  max-width: 30%;
}
.search .search__results .results__result .result__info .info__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.search .search__results .results__result .result__info .info__name .name__title {
  font-size: 1.2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.search .search__results .results__result .result__info .info__name .name__rating {
  font-size: 1rem;
}
.search .search__results .results__result .result__info .info__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-width: 100%;
}
.search .search__results .results__result .result__info .info__address .address__city {
  font-size: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  min-width: 100%;
}
.search .search__results .results__result .result__info .info__type {
  text-align: center;
  width: 100%;
}
.search .results__pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
  width: 20vw;
  max-width: 20vw;
  margin: 1rem 0;
  padding: 0.5rem;
}
.search .results__pagination .pagination__pages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  max-width: 70%;
}
.search .results__pagination .pagination__pages .pagination__page {
  border-radius: 0.5rem;
  width: 10rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  width: 5%;
  margin: 0 0.5rem;
}
.search .results__pagination .pagination__pages .pagination__page:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.search .results__pagination .pagination__pages .pagination__page:hover {
  cursor: pointer;
}
.search .results__pagination .pagination__pages .pagination__page:active {
  animation: shake 0.1s both;
}
.search .results__pagination .pagination__pages .pagination__page--no-hover {
  width: 5%;
  cursor: default;
}
.search--no-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 15vh 0 5vh 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  min-height: 100vh;
}
.search--no-results .search__title {
  font-size: 1.5rem;
  margin: 2rem 2rem 0 2rem;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  border-radius: 1rem;
}
.search--no-results .search__no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  font-size: 1.5rem;
  margin: 5rem;
  padding: 0.5rem;
}
.search--no-results .search__no-results .no-results__text {
  margin-top: 2rem;
}
.no-logo {
  font-size: 0.7rem;
}
.active {
  font-weight: 1000;
  animation: shake 0.5s both;
}
@keyframes shake {
  10%,
  50%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  30%,
  70% {
    transform: translate3d(1px, 0, 0);
  }
}
