.signin {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 5vh 0 5vh 0;
  margin: 0;
  color: #05386b;
}
.signin .signin__logo {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 15vh;
  max-height: 15vh;
  margin: 2rem;
}
.signin .signin__logo:hover {
  cursor: pointer;
}
.signin .signin-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: #05386b;
  padding: 0.5rem;
  min-height: 35vh;
}
.signin .signin-container .signin-container__header {
  font-size: 1.1rem;
  padding: 0.25rem;
}
.signin .signin-container .signin-container__form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.signin .signin-container .signin-container__form .form__error {
  color: red;
  padding: 0.5rem;
  min-height: 2rem;
  font-size: 1rem;
}
.signin .signin-container .signin-container__form .signin-container__input {
  border: 0.1rem solid #05386b;
  background: #ffffff;
  margin-bottom: 1rem;
  width: 50%;
  padding: 0.5rem;
}
.signin .signin-container .signin-container__form .signin-container__button {
  border-radius: 0.25rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 2.5rem;
}
.signin .signin-container .signin-container__form .signin-container__button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  filter: brightness(105%);
  font-weight: bolder;
}
.signin .signin-container .signin__new {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  margin-top: 1rem;
}
.signin .signin-container .signin__new .new__text {
  font-size: 1rem;
}
.signin .signin-container .signin__new .new__button {
  border-radius: 0.25rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.signin .signin-container .signin__new .new__button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  filter: brightness(105%);
  font-weight: bolder;
}
.signin-container__google-auth {
  min-width: 30%;
  max-width: 30%;
  min-height: 5vh;
  max-height: 5vh;
  border-radius: 1rem;
  border-radius: 0.25rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  height: 2.5rem;
}
.signin-container__google-auth:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  filter: brightness(105%);
  font-weight: bolder;
}
hr {
  border: 0.1rem solid #05386b;
  padding: 0.1rem;
  width: 75%;
}
