.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  padding-top: 25vh;
  cursor: default;
}
.signup .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: #ffffff;
  border: 0.1rem solid #05386b;
  color: #05386b;
  padding: 1rem;
}
.signup .signup-container .signup-container__header {
  font-size: 3rem;
}
.signup .signup-container .signup-container__stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form .signup-container__stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form .signup-container__stripe .stripe_header {
  font-size: 3rem;
}
.signup .signup-container .signup-container__form .signup-container__input {
  border: 0.1rem solid black;
  background: #efeff1;
  margin: 1rem;
  width: 75%;
  font-size: 1.5rem;
}
.signup .signup-container .signup-container__form .signup-container__error {
  content: none;
}
.signup .signup-container .signup-container__form .signup-container__error--hidden {
  display: none;
}
.signup .signup-container .signup-container__form .signup-container__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__button {
  border-radius: 0.3rem;
  width: 10rem;
  background-color: #3487d5;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px grey;
  filter: brightness(110%);
  font-weight: bolder;
}
