.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  padding-top: 20vh;
  cursor: default;
}
.signup .signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.5rem;
  color: #05386b;
  padding: 1rem;
  min-height: 60vh;
}
.signup .signup-container .signup-container__header {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.signup .signup-container .signup-container__stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form .signup-container__input {
  border: 0.1rem solid #05386b;
  background: #ffffff;
  margin-bottom: 1rem;
  width: 75%;
  padding: 0.5rem;
}
.signup .signup-container .signup-container__form .signup-container__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__google-auth {
  min-width: 50%;
  max-width: 50%;
  min-height: 10vh;
  max-height: 10vh;
  border-radius: 1rem;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__google-auth:hover {
  cursor: pointer;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__button {
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  width: auto;
  padding: 0 0.5rem;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.signup .signup-container .signup-container__form .signup-container__buttons .signup-container__button:hover {
  cursor: pointer;
}
