.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  padding-top: 25vh;
  cursor: default;
}
.signin .signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #383838;
  background: #aa9a3e;
  padding: 1rem;
  cursor: default;
}
.signin .signin-container .signin-container__header {
  font-size: 3rem;
  color: #383838;
  height: auto;
}
.signin .signin-container .signin-container__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.signin .signin-container .signin-container__form .signin-container__input {
  border: 0.1rem solid black;
  margin-top: 2rem;
  width: 50%;
  font-size: 1.5rem;
}
.signin .signin-container .signin-container__form .signin-container__error {
  content: none;
}
.signin .signin-container .signin-container__form .signin-container__error--hidden {
  display: none;
}
.signin .signin-container .signin-container__form .signin-container__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.signin .signin-container .signin-container__form .signin-container__buttons .signin-container__google-auth {
  max-width: 75%;
  height: 50%;
}
.signin .signin-container .signin-container__form .signin-container__buttons .signin-container__google-auth:hover {
  cursor: pointer;
}
.signin .signin-container .signin-container__form .signin-container__buttons .signin-container__button {
  border: outset;
  padding: 0.5rem;
  margin: 2rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 1.5rem;
  border-color: black;
}
.signin .signin-container .signin-container__form .signin-container__buttons .signin-container__button:hover {
  cursor: pointer;
}
