.stripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.stripe .stripe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.stripe .stripe__info .info__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
  font-size: 1.2rem;
  margin: 1rem;
}
.stripe .stripe__info .info__label .info__input {
  border: 0.1rem solid black;
  padding: 0.5rem;
}
.stripe .stripe__radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #05386b;
}
.stripe .stripe__radio .radio__label {
  font-size: 1.2rem;
  padding: 1rem;
}
.stripe .stripe__radio .radio__button:hover {
  cursor: pointer;
}
.stripe .stripe__button {
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #3487d5;
  color: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5rem;
  width: 30%;
}
.stripe .stripe__button:hover {
  cursor: pointer;
  box-shadow: 0px 15px 20px #6b6b6b;
  filter: brightness(110%);
  font-weight: bolder;
}
.stripe .stripe__element {
  width: 100%;
  float: right;
  position: relative;
  top: 50%;
  margin: 2rem;
}
.StripeElement {
  padding: 0.5rem;
  border: 0.1rem solid #05386b;
}
.StripeElement--invalid {
  border: 1px solid red;
}
