.thumbnail {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
  background: #ffffff;
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 1rem;
  padding: 0.5rem;
  min-height: 23rem;
  min-width: 20%;
  text-align: center;
}
.thumbnail:hover {
  cursor: pointer;
  filter: brightness(105%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 2px -1px rgba(0, 0, 0, 0.12);
  opacity: 1;
}
.thumbnail .thumbnail__landscape {
  background-color: #e9e9e9;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: 50% 50%;
  top: -2rem;
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
}
.thumbnail .thumbnail__landscape:hover {
  cursor: pointer;
}
.thumbnail .thumbnail__description {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.thumbnail .thumbnail__description .description__title {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.5rem;
}
.thumbnail .thumbnail__description .description__rating {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  color: #05386b;
}
.thumbnail .thumbnail__description .description__rating .rating__count {
  margin: 0 0.5rem;
}
.thumbnail .thumbnail__description .description__info {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
  color: #05386b;
}
.thumbnail .thumbnail__description .description__map {
  color: #05386b;
}
.thumbnail:hover {
  opacity: 1;
}
