.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  width: 25%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem;
  margin: 1rem;
  cursor: default;
  background: #e6e6e6;
  color: #05386b;
  opacity: 0.8;
  max-width: 20%;
  min-width: 20%;
}
.thumbnail .thumbnail__image {
  width: 10rem;
  height: 10rem;
  background-color: #56879e;
  top: -2rem;
  position: relative;
}
.thumbnail .thumbnail__image:hover {
  cursor: pointer;
}
.thumbnail .thumbnail__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: #efeff1;
  color: #05386b;
}
.thumbnail .thumbnail__description .description__title {
  font-size: 1.5rem;
}
.thumbnail .thumbnail__description .description__info {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.3rem;
}
.thumbnail:hover {
  opacity: 1;
}
