.user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: auto;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  padding-top: 25vh;
  padding-left: 5rem;
  color: black;
}
.user .user__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
}
.user .user__header .header__breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: inherit;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  font-size: 1.5rem;
}
.user .user__header .header__breadcrumbs .breadcrumbs__breadcrumb {
  border: none;
  width: auto;
  font-size: 1.5rem;
  background-color: #e6e6e6;
  color: black;
  margin: 0 1rem;
}
.user .user__header .header__breadcrumbs .breadcrumbs__breadcrumb .breadcrumb__arrow {
  padding: 0 1rem;
}
.user .user__header .header__breadcrumbs .breadcrumbs__breadcrumb .breadcrumb__arrow:hover {
  cursor: default;
}
.user .user__header .header__breadcrumbs .breadcrumbs__breadcrumb:hover {
  cursor: pointer;
}
.user .user__header .header__signout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  padding-right: 5rem;
  font-size: 1.5rem;
}
.user .user__header .header__signout:hover {
  cursor: pointer;
}
.user .user__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
}
.user .user__body .body__left-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 20vw;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  border: 0.1rem solid black;
}
.user .user__body .body__left-bar .left-bar__button {
  border: none;
  width: 100%;
  font-size: 1.5rem;
  background-color: #e6e6e6;
  color: black;
  padding: 1rem;
}
.user .user__body .body__left-bar .left-bar__button:hover {
  filter: brightness(120%);
  cursor: pointer;
}
.user .user__body .body__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
}
.user .user__body .body__content .content__user-reviews {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  flex-wrap: wrap;
}
.user .user__body .body__content .content__user-reviews .user-reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  margin: 0 1rem 1rem 1rem;
  border: 0.1rem solid black;
  padding: 1rem;
  background-color: #e6e6e6;
  color: black;
}
.user .user__body .body__content .content__user-reviews .user-reviews__item .item__image {
  width: 10rem;
  height: 10rem;
  background-color: black;
}
.user .user__body .body__content .content__user-reviews .user-reviews__item .item__image:hover {
  cursor: pointer;
}
.user .user__body .body__content .content__user-reviews .user-reviews__item .item__info {
  font-size: 1.25rem;
  text-align: center;
}
.user .user__body .body__content .content__user-reviews .user-reviews__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 20%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  background-color: #e6e6e6;
  margin: 0 1rem 1rem 1rem;
  border: 0.1rem solid black;
  padding: 1rem;
}
.user .user__body .body__content .content__user-reviews .user-reviews__add .add__image:hover {
  cursor: pointer;
}
.user .user__body .body__content .content__user-reviews .user-reviews__add .add__text {
  color: black;
  font-size: 2rem;
}
.user .user__body .body__content .content__solo-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  padding: 1rem 20rem 1rem 0;
}
.user .user__body .body__content .content__solo-add .solo-add__image:hover {
  cursor: pointer;
}
.user .user__body .body__content .content__solo-add .solo-add__text {
  color: black;
  font-size: 2rem;
}
.user .user__body .body__content .content__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
}
.user .user__body .body__content .content__profile .profile__image {
  margin: 1rem 3rem;
  width: 15rem;
  height: 20rem;
  background-color: black;
}
.user .user__body .body__content .content__profile .profile__image:hover {
  cursor: pointer;
}
.user .user__body .body__content .content__profile .profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
}
.user .user__body .body__content .content__profile .profile__container .container__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  cursor: default;
  background: white;
  color: #05386b;
  margin: 1rem;
}
.user .user__body .body__content .content__profile .profile__container .container__info .info__label {
  font-size: 1.5rem;
  width: 20%;
}
.user .user__body .body__content .content__profile .profile__container .container__info .info__data {
  width: 50%;
  font-size: 1.5rem;
}
.user .user__body .body__content .content__profile .profile__container .container__info .info__button {
  width: 20%;
  border: none;
  font-size: 1.25rem;
  background-color: #e6e6e6;
  color: black;
  padding: 1rem;
}
.user .user__body .body__content .content__profile .profile__container .container__info .info__button:hover {
  cursor: pointer;
}
