@import "./mixins.less";

.business {
  .containers(@width: inherit, @padding: 15vh 2rem 2rem 2rem);
  color: @textColor;
  .business__info {
    .containers(@width: 75%);
    .backAndBorder();
    padding: 1rem;
    margin: 1rem;
    .info__landscape {
      .images(@top: 0);
      width: 50%;
      min-width: 50%;
      min-height: 40vh;
      max-height: 40vh;
    }
    .info__portrait {
      max-height: 20rem;
    }
    .info__title {
      font-size: 3rem;
      text-align: center;
    }
    .info__address {
      .containers(@flexDirection: row);
      .address__city {
        .body();
        padding: 1rem;
        text-align: center;
      }
    }
    .info__city {
      padding: 0 0 1rem 0;
      font-size: 1.5rem;
    }
    .info__details {
      .containers(@flexDirection: row, @height: 25vh, @justifyContent: space-between);
      flex-grow: 1;
      .details__hours {
        .containers(@flexDirection: column, @width:33%, @justifyContent: space-between);
        .hours__title {
          font-size: 2rem;
        }
        .hours__day {
          font-size: 1rem;
        }
      }
      .details__contact {
        .containers(@width: 66%, @flexDirection: row);
        .contact__phone {
          .containers(@flexDirection: row);
          height: 50%;
          width: 50%;
          font-size: 1.5rem;
          .phone__number {
            font-size: 1rem;
            padding: 1rem;
          }
        }
        .contact__website {
          .containers(@flexDirection: row);
          width: 50%;
          font-size: 1.5rem;
          .website__text {
            font-size: 1rem;
            padding: 1rem;
          }
        }
      }
    }
  }
  .business__reviews-container {
    .containers(@width: 75%, @padding: 1rem 1rem 0 1rem);
    .backAndBorder();
    .reviews-container__title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: @textColor;
    }
    .reviews-container__button {
      .buttons();
    }
    .reviews-container__dropdowns {
      .containers(@flexDirection: row, @justifyContent: space-between);
      .dropdowns__dropdown {
        display: flex;
        flex-direction: row;
        z-index: 2;
        .dropdown__title {
          font-size: 2rem;
        }
        .dropdown__drop-container {
          margin-left: 2rem;
          width: 15rem;
          .drop-container__button {
            width: inherit;
            font-size: 1.5rem;
            color: @textColor;
          }
          .drop-container__button:hover {
            cursor: pointer;
          }
          .drop-container__menu {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            width: inherit;
            .menu__button {
              width: inherit;
              border: none;
              font-size: 1.5rem;
              color: @textColor;
            }
            .menu__button:hover {
              filter: brightness(80%);
              cursor: pointer;
            }
          }
        }
      }
    }
    .reviews-container__reviews {
      .containers(@justifyContent: space-between);
      min-height: 75vh;
      flex: 1;
      .reviews__review {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
        .review__info {
          .containers(@justifyContent: space-between);
          .backAndBorder();
          min-height: 25vh;
          max-height: 25vh;
          min-width: 17%;
          max-width: 17%;
          margin: 1rem;
          color: @textColor;
          opacity: 0.8;
          padding: 1rem;
          .review__landscape {
            .images();
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 15vh;
            min-height: 15vh;
            max-height: 15vh;
          }
          .review__portrait {
            .images();
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 15vh;
            min-height: 15vh;
            max-height: 15vh;
            object-position: 50% 0%;
          }
          .review__image:hover {
            cursor: pointer;
          }
          .review__stars {
            text-align: center;
            width: 50%;
            margin: 1rem 0;
          }
          .review__reviewer {
            width: 10rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0.5rem;
          }
          .review__reviewer:hover {
            cursor: pointer;
          }
        }
        .review__info:hover {
          opacity: 1;
        }
      }
      .reviews__pagination {
        .containers(@flexDirection: row, @justifyContent: space-between);
        .backAndBorder(@background: @elementBG);
        width: 50vw;
        min-width: 50%;
        padding: 0.5rem;
        .pagination__pages {
          .containers(@flexDirection: row);
          max-width: 70%;
          .pagination__page {
            .buttons();
            width: 5%;
            margin: 0 0.5rem;
          }
          .pagination__page:hover {
            cursor: pointer;
          }
          .pagination__page:active {
            animation: shake 0.1s both;
          }
          .pagination__page--no-hover {
            width: 5%;
            font-weight: bold;
            background: #efeff1;
            cursor: default;
          }
        }
      }
    }
  }
}

.modal {
  .modal-container {
    width: 80%;
    height: 80vh;
    max-height: 80vh;
    .modal__header {
      .containers(@height:50%, @margin: 0 0 0.3rem 0, @justifyContent: space-between);
      max-height: 50%;
      .header__image {
        .containers(@justifyContent: space-between; @flexDirection: row);
        height: 85%;
        max-height: 85%;
        .image__landscape {
          .images(@top: 0);
          width: 50%;
          min-width: 50%;
          height: 100%;
          max-height: 100%;
          margin: 1rem 1rem 0 1rem;
        }
        .image__portrait {
          .images(@top: 0);
          width: 50%;
          min-width: 50%;
          height: 100%;
          max-height: 100%;
          margin: 1rem 1rem 0 1rem;
          object-position: 50% 0%;
        }
        .image__button {
          .containers(@flexDirection: row, @justifyContent: space-around);
          height: initial;
          .buttons();
          .headers();
          width: 20%;
        }
      }
      .header__user {
        .containers(@flexDirection: row, @justifyContent: space-around);
        text-align: center;
        width: 100%;
        height: 15%;
        min-height: 15%;
        max-height: 15%;
        padding: 2rem;
        .header__title {
          .headers(@margin: 0);
        }
        .header__reviewer {
          .containers(@flexDirection: row, @justifyContent: space-around);
          width: 50%;
          .reviewer__info--onclick {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 33%;
            .headers();
          }
          .reviewer__info {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 33%;
            .body();
          }
        }
      }
    }
    .modal__body {
      .containers(@justifyContent: flex-start, @height: 45%);
      min-height: 45%;
      max-height: 45%;
      .body__stars {
        .containers(@flexDirection: row, @width: 50%, @justifyContent: space-around);
        height: 10%;
      }
      .body__drop {
        .containers();
      }
      .body__title {
        font-size: 1.5rem;
        height: 10%;
      }
      .body__stars {
        text-align: center;
        width: 50%;
        height: 20%;
      }
      .body__review {
        .backAndBorder();
        .body();
        height: 50%;
        padding: 0.5rem;
        width: 75%;
        height: auto;
        max-height: 25vh;
        overflow-y: auto;
        overflow-wrap: break-word;
      }
    }
    .modal__footer {
      .containers();
      .footer__button {
        .buttons();
        margin: 0.5rem 0;
      }
    }
  }
}


.active {
  font-weight: bolder;
}
