@import 'mixins.less';

.thumbnail {
  .containers(@fontSize: 1.5rem);
  color: @color;
  opacity: 0.7;
  margin: 0 1rem;
  padding: 1rem;
  height: inherit;
  .thumbnail__image {
    width: 10rem;
    height: 10rem;
    background-color: black;
  }
  .thumbnail__image:hover {
    cursor: pointer;
  }
  .thumbnail__text {
    width: 10rem;
    padding: 0.2rem 0;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0.3rem;
  }
}
.thumbnail:hover {
  opacity: 1;
}
