@import "./mixins.less";

.business {
  .containers(@width: inherit, @padding: 15vh 0 5vh 0);
  color: @textColor;
  .business__info {
    .containers(@flexDirection: row, @justifyContent: space-around);
    min-width: 70vw;
    max-width: 70vw;
    min-height: 55vh;
    max-height: 55vh;
    .shadow();
    .backAndBorder();
    padding: .5rem;
    margin: 1rem;
    .info__image {
      .containers();
      min-width: 45vw;
      max-width: 45vw;
      min-height: 50vh;
      max-height: 50vh;
      .info__landscape {
        .image(@top: 0);
        .shadow();
        min-width: 40vw;
        max-width: 40vw;
        min-height: 40vh;
        max-height: 40vh;
        &:hover {
          cursor: default;
        }
      }
    }
    .info__details {
      .containers(@justifyContent: space-around);
      min-width: 35%;
      max-width: 35%;
      min-height: 90%;
      max-height: 90%;
      .details__title {
        .title();
        text-align: center;
        padding: .25rem 0;
      }
      .details__address {
        .containers(@flexDirection: row, @justifyContent: flex-start);
        .body();
        padding: .25rem 0;
        .address__icon {
          .hidden();
          text-align: left;
        }
      }
      .details__detail {
        .containers(@justifyContent: space-between);
        .detail__hours {
          .containers(@flexDirection: column, @justifyContent: space-between);
          .hours__days {
            .containers(@flexDirection: row, @justifyContent: flex-start);
            .hours__icon {
              margin-right: 1rem;
              height: 2rem;
              width: 2rem;
            }
            .hours__text {
              padding-left: 25%;
              font-size: 1rem;
            }
          }
        }
        .detail__contact {
          .containers();
          padding: .5rem 0;
          .contact__phone {
            .containers(@flexDirection: row, @justifyContent: flex-start);
            .phone__number {
              .body();
              padding: .25rem;
            }
          }
          .contact__website {
            .containers(@flexDirection: row, @justifyContent: flex-start);
            padding: .25rem 0;
            .website__text {
              .body();
              padding: .25rem;
            }
          }
        }
      }
    }
  }
  .business__reviews-container {
    .containers(@width: 75%, @padding: .5rem .5rem 0 .5rem, @justifyContent: space-between);
    min-width: 70vw;
    max-width: 70vw;
    min-height: 50vh;
    .backAndBorder();
    .shadow();
    .reviews__header {
      .containers(@flexDirection: row, @justifyContent:space-between);
      margin-bottom: 1rem;
      .reviews-container__dropdowns {
        .containers(@flexDirection: row, @justifyContent: space-between);
        .dropdowns__dropdown {
          .containers(@flexDirection: row, @justifyContent: flex-start);
          min-width: 20vw;
          max-width: 20vw;
          .dropdown__title {
            .title();
          }
        }
        .dropdowns__dropdown--left {
          .dropdowns__dropdown();
          justify-content: flex-end;
        }
      }
      .reviews-container__title {
        .backAndBorder();
        .title();
        color: @textColor;
        text-align: left;
      }
      .reviews-container__button {
        .button();
        .title();
        width: auto;
        padding: 0.5rem;
      }
    }
    .reviews-container__reviews {
      .containers(@justifyContent: space-between);
      min-height: 40vh;
      flex: 1;
      .reviews--no-results {
        .containers(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
        min-height: 40vh;
        .search__title {
          .title();
          .backAndBorder();
          margin: 1rem;
        }
        .search__no-results {
          .containers();
          .title();
          .backAndBorder();
          width: 50vw;
          margin: 2rem;
          .no-results__text {
            margin-top: 2rem;
          }
        }
      }
      .reviews__review {
        width: 100%;
        height: 100%;
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-grow: 3;
        margin: 0 1rem;
        .review__info {
          .containers(@justifyContent: space-between);
          .backAndBorder();
          .shadow();
          .shadowHover();
          min-height: 30vh;
          max-height: 30vh;
          min-width: 20vw;
          max-width: 20vw;
          margin: 2rem 1rem;
          color: @textColor;
          opacity: 0.8;
          padding: 1rem;
          .info__header {
            .containers(@flexDirection: row, @justifyContent: space-between);
            .header__data {
              min-width: 10vw;
              max-width: 10vw;
              .containers();
              .data__text {
                .containers(@alignItems:flex-start);
                .hidden();
                max-width: 10vw;
                padding: 0.2rem 0;
              }
            }
            .review__landscape {
              .image();
              width: 8vw;
              min-width: 8vw;
              max-width: 8vw;
              height: 15vh;
              min-height: 15vh;
              max-height: 15vh;
            }
            .review__portrait {
              .image();
              width: 8vw;
              min-width: 8vw;
              max-width: 8vw;
              height: 15vh;
              min-height: 15vh;
              max-height: 15vh;
              object-position: 50% 0%;
            }
          }
          .info__body {
            .containers();
            .body__reviewer {
              .containers(@flexDirection: row, @justifyContent: flex-start);
              .title();
              .hidden();
              padding: 0.5rem 0;
              .review__landscape {
                .image(@top:0);
                position: static;
                width: 3rem;
                min-width: 3rem;
                max-width: 3rem;
                height: 3rem;
                min-height: 3rem;
                max-height: 3rem;
                border-radius: 50%;
                margin-right: 1rem;
              }
              .review__portrait {
                .image();
                position: static;
                width: 3rem;
                min-width: 3rem;
                max-width: 3rem;
                height: 3rem;
                min-height: 3rem;
                max-height: 3rem;
                border-radius: 50%;
                margin-right: 1rem;
                object-position: 50% 0%;
              }
              .reviewer__text {
                .hidden();
                width: auto;
                max-width: 50%;
              }
            }
            .body__review {
              padding: 1rem 0;
              word-wrap: break-word;
              .hidden();
              text-align: left;
            }
          }

          .review__stars {
            text-align: center;
            width: 50%;
            margin: 1rem 0;
          }
          .review__reviewer {
            width: 10rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0.5rem;
          }
          .review__reviewer:hover {
            cursor: pointer;
          }
        }
        .review__info:hover {
          opacity: 1;
        }
      }
      .reviews__review:after {
        content: "";
        flex: auto;
      }
      .reviews__pagination {
        .containers(@flexDirection: row, @justifyContent: space-between);
        .backAndBorder(@background: @elementBG);
        width: 50vw;
        min-width: 50%;
        padding: 0.5rem;
        margin: 0 0 1rem 0;
        .pagination__pages {
          .containers(@flexDirection: row);
          max-width: 70%;
          .pagination__page {
            .button();
            width: 5%;
            margin: 0 0.5rem;
          }
          .pagination__page:hover {
            cursor: pointer;
          }
          .pagination__page:active {
            animation: shake 0.1s both;
          }
          .pagination__page--no-hover {
            width: 5%;
            font-weight: bold;
            background: #efeff1;
            cursor: default;
          }
        }
      }
    }
  }
}

.modal {
  .modal__header {
    .containers(@height:40vh, @margin: 0 0 0.3rem 0, @justifyContent: space-between);
    max-height: 40vh;
    .header__image {
      .containers(@alignItems: flex-start, @justifyContent: space-between, @flexDirection: row);
      .image__buttons {
        .containers(@justifyContent: flex-start);
        width: 10vw;
        min-width: 10vw;
        max-width: 10vw;
        padding: 1rem;
        .image__button {
          .button();
          width: 5vw;
          min-width: 5vw;
          max-width: 5vw;
          margin: 1rem;
          padding: 0.5rem;
        }
      }
      .image__landscape {
        .image(@top: 0);
        .regularHover();
        min-width: 35vw;
        min-height: 35vh;
        max-height: 35vh;
        margin: 1rem 1rem 0 1rem;
      }
      .image__portrait {
        .image(@top: 0);
        .regularHover();
        min-width: 35vw;
        min-height: 35vh;
        max-height: 35vh;
        margin: 1rem 1rem 0 1rem;
        object-position: 50% 0%;
      }
    }
    .header__user {
      .containers(@flexDirection: row, @justifyContent: space-around);
      text-align: center;
      min-height: 10%;
      max-height: 10%;
      padding: 2rem;
      .header__title {
        .title();
      }
      .header__reviewer {
        .containers(@flexDirection: row, @justifyContent: space-around);
        width: 50%;
        .reviewer__info--onclick {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 60%;
          .title();
        }
        .reviewer__info {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 60%;
          .body();
        }
      }
    }
  }
  .modal__body {
    .containers(@justifyContent: flex-start, @height: 40vh);
    min-height: 40vh;
    max-height: 40vh;
    .body__business {
      .title();
    }
    .body__stars {
      .containers(@flexDirection: row, @justifyContent: space-around);
      height: 10%;
      min-width: 75%;
      max-width: 90%;
    }
    .body__drop {
      .containers();
    }
    .body__title {
      .title();
      text-decoration: underline;
      margin: 1rem 0 1.5rem 0;
    }
    .body__stars {
      text-align: center;
      width: 50%;
      height: 20%;
    }
    .body__review {
      .body();
      height: 50%;
      padding: 0.5rem;
      width: 90%;
      height: auto;
      max-height: 25vh;
      overflow-y: auto;
      overflow-wrap: break-word;
    }
  }
  .modal__footer {
    .containers();
    .footer__button {
      .button();
      margin: 0.5rem 0;
    }
  }
}

.active {
  font-weight: bolder;
}

.MuiButton-root-1 {
  color: @textColor !important;
  width: auto !important;
  min-width: 10vw !important;
  max-width: 15vw !important;
  font-size: 1rem !important;
}

a {
  text-decoration: none;
}