@import "./mixins.less";

.business {
  .container(@width: inherit, @padding: 15vh 0 5vh 0);
  color: @textColor;
  .business__info {
    .container(@width: 75%);
    .backAndBorder();
    padding: 1rem;
    margin: 1rem;
    .info__landscape {
      .image(@top: 0);
      width: 50%;
      min-width: 50%;
      min-height: 40vh;
      max-height: 40vh;
    }
    .info__portrait {
      max-height: 20rem;
    }
    .info__title {
      .title();
      text-align: center;
      padding: 1rem;
    }
    .info__address {
      .container(@flexDirection: row);
      .address__city {
        .body();
        padding: 1rem;
        text-align: center;
      }
    }
    .info__city {
      padding: 0 0 1rem 0;
    }
    .info__details {
      .container(@flexDirection: row, @height: 25vh, @justifyContent: space-between);
      flex-grow: 1;
      .details__hours {
        .container(@flexDirection: column, @width:33%, @justifyContent: space-between);
        .hours__title {
          .title();
        }
      }
      .details__contact {
        .container(@width: 66%, @flexDirection: row);
        .contact__phone {
          .container(@flexDirection: row);
          height: 50%;
          width: 50%;
          .phone__number {
            padding: 1rem;
          }
        }
        .contact__website {
          .container(@flexDirection: row);
          width: 50%;
          .website__text {
            padding: 1rem;
          }
        }
      }
    }
  }
  .business__reviews-container {
    .container(@width: 75%, @padding: 1rem 1rem 0 1rem, @justifyContent: space-between);
    .backAndBorder();
    .reviews-container__title {
      .backAndBorder();
      .title();
      margin-bottom: 1rem;
      color: @textColor;
      padding: 0.5rem;
    }
    .reviews-container__button {
      .button();
      .header();
      width: auto;
      padding: 0.5rem;
    }
    .reviews-container__dropdowns {
      .container(@flexDirection: row, @justifyContent: space-between);
      .dropdowns__dropdown {
        display: flex;
        flex-direction: row;
        z-index: 2;
        .dropdown__title {
          .title();
        }
        .dropdown__drop-container {
          margin-left: 2rem;
          width: 15rem;
          .drop-container__button {
            .title();
            width: inherit;
            color: @textColor;
          }
          .drop-container__button:hover {
            cursor: pointer;
          }
          .drop-container__menu {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            width: inherit;
            .menu__button {
              .title();
              width: inherit;
              border: none;
              color: @textColor;
            }
            .menu__button:hover {
              filter: brightness(80%);
              cursor: pointer;
            }
          }
        }
      }
    }
    .reviews-container__reviews {
      .container(@justifyContent: space-between);
      min-height: 72vh;
      flex: 1;
      .reviews--no-results {
        .container(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
        min-height: 100vh;
        .search__title {
          .header();
          .backAndBorder();
          margin: 1rem;
        }
        .search__no-results {
          .container();
          .header();
          .backAndBorder();
          width: 50vw;
          margin: 2rem;
          .no-results__text {
            margin-top: 2rem;
          }
        }
      }
      .reviews__review {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 1rem 0 1rem;
        .review__info {
          .container(@justifyContent: space-between);
          .backAndBorder();
          min-height: 25vh;
          max-height: 25vh;
          min-width: 17%;
          max-width: 17%;
          margin: 1rem;
          color: @textColor;
          opacity: 0.8;
          padding: 1rem;
          .review__landscape {
            .image();
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 15vh;
            min-height: 15vh;
            max-height: 15vh;
          }
          .review__portrait {
            .image();
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 15vh;
            min-height: 15vh;
            max-height: 15vh;
            object-position: 50% 0%;
          }
          .review__image:hover {
            cursor: pointer;
          }
          .review__stars {
            text-align: center;
            width: 50%;
            margin: 1rem 0;
          }
          .review__reviewer {
            width: 10rem;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0.5rem;
          }
          .review__reviewer:hover {
            cursor: pointer;
          }
        }
        .review__info:hover {
          opacity: 1;
        }
      }
      .reviews__pagination {
        .container(@flexDirection: row, @justifyContent: space-between);
        .backAndBorder(@background: @elementBG);
        width: 50vw;
        min-width: 50%;
        padding: 0.5rem;
        margin: 0 0 1rem 0;
        .pagination__pages {
          .container(@flexDirection: row);
          max-width: 70%;
          .pagination__page {
            .button();
            width: 5%;
            margin: 0 0.5rem;
          }
          .pagination__page:hover {
            cursor: pointer;
          }
          .pagination__page:active {
            animation: shake 0.1s both;
          }
          .pagination__page--no-hover {
            width: 5%;
            font-weight: bold;
            background: #efeff1;
            cursor: default;
          }
        }
      }
    }
  }
}

.modal {
  .modal-container {
    width: 80%;
    height: 80vh;
    max-height: 80vh;
    .modal__header {
      .container(@height:50%, @margin: 0 0 0.3rem 0, @justifyContent: space-between);
      max-height: 50%;
      .header__image {
        .container(@justifyContent: space-between; @flexDirection: row);
        height: 85%;
        max-height: 85%;
        .image__landscape {
          .image(@top: 0);
          width: 50%;
          min-width: 50%;
          height: 100%;
          max-height: 100%;
          margin: 1rem 1rem 0 1rem;
        }
        .image__portrait {
          .image(@top: 0);
          width: 50%;
          min-width: 50%;
          height: 100%;
          max-height: 100%;
          margin: 1rem 1rem 0 1rem;
          object-position: 50% 0%;
        }
        .image__button {
          .container(@flexDirection: row, @justifyContent: space-around);
          height: initial;
          .button();
          .header();
          width: 20%;
        }
      }
      .header__user {
        .container(@flexDirection: row, @justifyContent: space-around);
        text-align: center;
        width: 100%;
        height: 15%;
        min-height: 15%;
        max-height: 15%;
        padding: 2rem;
        .header__title {
          .header();
        }
        .header__reviewer {
          .container(@flexDirection: row, @justifyContent: space-around);
          width: 50%;
          .reviewer__info--onclick {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 33%;
            .header();
          }
          .reviewer__info {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 33%;
            .body();
          }
        }
      }
    }
    .modal__body {
      .container(@justifyContent: flex-start, @height: 45%);
      min-height: 45%;
      max-height: 45%;
      .body__stars {
        .container(@flexDirection: row, @width: 50%, @justifyContent: space-around);
        height: 10%;
      }
      .body__drop {
        .container();
      }
      .body__title {
        .title();
        height: 10%;
      }
      .body__stars {
        text-align: center;
        width: 50%;
        height: 20%;
      }
      .body__review {
        .backAndBorder();
        .body();
        height: 50%;
        padding: 0.5rem;
        width: 75%;
        height: auto;
        max-height: 25vh;
        overflow-y: auto;
        overflow-wrap: break-word;
      }
    }
    .modal__footer {
      .container();
      .footer__button {
        .button();
        margin: 0.5rem 0;
      }
    }
  }
}

.active {
  font-weight: bolder;
}
