@import "mixins.less";

.landing {
  .containers(@padding: 25vh 0 0 0);
  .landing__container {
    .containers(@width: 90%);
    .container__header {
      .backAndBorder();
      .headers();
    }
    .container__items {
      .containers(@flexDirection: row, @justifyContent: space-between, @alignItems: flex-start);
      flex-wrap: wrap;
      min-height: 100%;
      .items__item {
        .containers(@justifyContent: space-between, @fontSize: 1.5rem);
        .backAndBorder();
        opacity: 0.8;
        margin: 1rem;
        padding: 1rem;
        height: 20rem;
        width: 22%;
        max-width: 22%;
        min-width: 22%;
        .item__landscape {
          .images(@height: 60%);
          max-height: 60%;
          min-height: 60%;
          max-width: 100%;
          min-width: 100%;
        }
        .item__portrait {
          .images(@width: 40%, @height: 60%);
          max-height: 60%;
          min-height: 60%;
          max-width: 40%;
          min-width: 40%;
          margin: 0 30%;
        }
        .item__image:hover {
          cursor: pointer;
        }
        .item__title {
          text-align: center;
        }
        .item__info {
          padding: 0.2rem 0;
          text-align: center;
          text-overflow: ellipsis;
          padding: 0.3rem;
        }
        .item__info--hover {
          padding: 0.2rem 0;
          text-align: center;
          text-overflow: ellipsis;
          padding: 0.3rem;
          border-radius: 5rem;
        }
        .item__info--hover:hover {
          cursor: pointer;
        }
      }
      .items__item:hover {
        opacity: 1;
      }
    }
  }
}
.landing-container__modal {
  .modal-container {
    .modal__header {
      .containers(@alignItems: flex-star, @margin: 1rem);
      .header__title {
        .headers(@margin: 0);
      }
      .header__review {
        .body();
      }
    }
    .modal__body {
      .containers();
      .body__drop {
        .containers();
      }
      .body__landscape {
        .images(@top: 0, @height: 60%);
        max-height: 60%;
        min-height: 60%;
        max-width: 100%;
        min-width: 100%;
        cursor: default;
      }
      .body__portrait {
        .images(@top: 0, @width: 40%, @height: 60%);
        max-height: 60%;
        min-height: 60%;
        max-width: 40%;
        min-width: 40%;
        margin: 0 30%;
        cursor: default;
      }
      .body__stars {
        text-align: center;
        width: 50%;
        margin: 1rem 0;
      }
      .body__review {
        font-size: 1.25rem;
        padding: 0.5rem;
        border: 0.1rem solid black;
        width: 75%;
        height: 25vh;
        overflow: auto;
      }
    }
    .modal__footer {
      .containers();
      .footer__button {
        .buttons();
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Body--open {
  position: absolute;
  overflow-y: hidden;
}

.drop__text--initial {
  font-size: 1rem;
}

.drop__text--uploaded {
  font-size: .8rem;
}