@import "mixins.less";

.landing {
  .containers(@width: inherit, @padding: 15vh 0 5vh 0);
  .landing__container {
    .containers(@width: 90%);
    .container__header {
      .backAndBorder();
      .title();
      margin: 1rem;
    }
    .container__items {
      .containers(@flexDirection: row, @justifyContent: space-around, @alignItems: flex-start);
      flex-wrap: wrap;
      min-height: 100%;
      .items__item {
        .containers(@margin: 1rem, @padding: .5rem, @width: 20%, @justifyContent: space-between);
        .backAndBorder();
        .shadowHover();
        .shadow();
        min-height: 20rem;
        min-width: 20%;
        text-align: center;
        .item__landscape {
          .image();
          .regularHover();
          width: 100%;
          min-width: 100%;
          min-height: 15rem;
          max-height: 15rem;
        }
        .item__portrait {
          .image();
          .regularHover();
          width: 100%;
          min-width: 100%;
          min-height: 15rem;
          max-height: 15rem;
          object-position: 50% 0%;
        }
        .item__description {
          .containers();
          .item__title {
            .title();
            .hidden();
            padding: 0.5rem;
          }
          .item__info {
            .containers(@flexDirection: row);
            .body();
            .hidden();
            padding: 0.5rem 0;
            .info__detail {
              padding: 0 .5rem;
            }
          }
          .item__info--hover {
            .body();
            .hidden();
            .shadowHover();
            padding: 0.5rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

.modal {
  .modal__header {
    .containers(@height:40vh, @margin: 0 0 0.3rem 0, @justifyContent: space-between);
    max-height: 40vh;
    .header__image {
      .containers(@alignItems: flex-start, @justifyContent: space-between, @flexDirection: row);
      .image__buttons {
        .containers(@justifyContent: flex-start);
        width: 10vw;
        min-width: 10vw;
        max-width: 10vw;
        padding: 1rem;
        .image__button {
          .button();
          width: 5vw;
          min-width: 5vw;
          max-width: 5vw;
          margin: 1rem;
          padding: 0.5rem;
        }
      }
      .image__landscape {
        .image(@top: 0);
        .regularHover();
        min-width: 35vw;
        max-width: 35vw;
        min-height: 35vh;
        max-height: 35vh;
        margin: 1rem 1rem 0 1rem;
      }
      .image__portrait {
        .image(@top: 0);
        .regularHover();
        min-width: 15vw;
        max-width: 35vw;
        min-height: 35vh;
        max-height: 35vh;
        margin: 1rem 1rem 0 1rem;
        object-position: 50% 0%;
      }
    }
    .header__user {
      .containers(@flexDirection: row, @justifyContent: space-around);
      text-align: center;
      min-height: 10%;
      max-height: 10%;
      padding: 2rem;
      .header__title {
        .title();
      }
      .header__reviewer {
        .containers(@flexDirection: row, @justifyContent: space-around);
        width: 50%;
        .reviewer__info--onclick {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 60%;
          .title();
        }
        .reviewer__info {
          text-overflow: ellipsis;
          overflow: hidden;
          width: 60%;
          .body();
        }
      }
    }
  }
  .modal__body {
    .containers(@justifyContent: flex-start, @height: 40vh);
    min-height: 40vh;
    max-height: 40vh;
    .body__business {
      .title();
    }
    .body__stars {
      .containers(@flexDirection: row, @justifyContent: space-around);
      height: 10%;
      min-width: 75%;
      max-width: 90%;
    }
    .body__drop {
      .containers();
    }
    .body__title {
      .title();
      text-decoration: underline;
      margin: 1rem 0 1.5rem 0;
    }
    .body__stars {
      text-align: center;
      width: 50%;
      height: 20%;
    }
    .body__review {
      .body();
      height: 50%;
      padding: 0.5rem;
      width: 90%;
      height: auto;
      max-height: 25vh;
      overflow-y: auto;
      overflow-wrap: break-word;
    }
  }
  .modal__footer {
    .containers();
    .footer__button {
      .button();
      margin: 0.5rem 0;
    }
  }
}

.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Body--open {
  position: absolute;
  overflow-y: hidden;
}

.ReactModal__Content--after-open {
  padding-top: 2rem !important;
  overflow: hidden;
  max-height: 90vh;
}
