
@buttonBG: #3487d5;
@elementBG: #efeff1;
@modalBG: #eeeeee;
@textColor: #05386b;
@fontFamily: Helvetica Neue, Helvetica, Arial, sans-serif;
@whiteBG: rgb(255, 255, 255);
@boxShadow: rgb(107, 107, 107);


.containers(@color: @textColor, @display: flex, @flexDirection: column, @justifyContent: center, @alignItems: center, @height: 100%, @width: 100%, @fontSize: 1.2rem, @lineHeight: 1,@padding: 0, @margin:0) {
  display: @display;
  flex-direction: @flexDirection;
  justify-content: @justifyContent;
  align-items: @alignItems;
  height: @height;
  width: @width;
  font-family: @fontFamily;
  font-size: @fontSize;
  line-height: @lineHeight;
  padding: @padding;
  margin: @margin;
  cursor: default;
  color: @textColor;
}

.buttons(@width: 10rem) {
  border-radius: 0.5rem;
  width: @width;
  background-color: @buttonBG;
  color: @whiteBG;
  font-family: @fontFamily;
  font-size: 1rem;
  height: 2.5rem;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 20px @boxShadow;
    filter: brightness(110%);
    font-weight: bolder;
  }
}

.headers(@fontSize: 1.5rem, @margin: 1rem, @padding: .5rem) {
  font-size: @fontSize;
  margin: @margin;
  padding: @padding;
}

.titles(@fontSize: 1.2rem) {
  font-size: @fontSize;
}

.body(@fontSize: 1rem) {
  font-size: @fontSize;
}

.linerNotes() {
  font-size: 1rem;
}

.images(@top: -2rem) {
  border-radius: 1rem;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: @textColor;
  top: @top;
  position: relative;
  border: 0.1rem solid @textColor;
  &:hover {
    cursor: pointer;
  }
}

.hover() {
  &:hover {
    cursor: pointer;
  }
}

.backAndBorder(@background: @whiteBG) {
  background: @background;
  border: 0.1rem solid @textColor;
  border-radius: 1rem;
}

.crazyHover() {
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 10px @boxShadow;
    filter: brightness(110%);
    opacity: 1;
  }
}

.hidden() {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: center;
}
