@import "./mixins.less";

.navbar {
  .containers(@width: 100vw, @flexDirection:row, @justifyContent: space-between, @height: 20vh);
  .backAndBorder();
  border-width: 0 0 .1rem 0;
  position: fixed;
  z-index: 5;
  max-height: 20vh;
  .navbar__logo {
    width: 20%;
    height: 90%;
    margin: 1rem;
    padding: 1rem;
  }
  .navbar__logo:hover {
    cursor: pointer;
  }
  .navbar__center {
    .containers(@width: 60%);
    .center__input {
      border: 0.1rem solid black;
      margin-top: 2rem;
      min-width: 80%;
      font-size: 1.5rem;
      padding: 0.2rem;
    }
    .center__button {
      .buttons();
    }
  }
  .navbar__right {
    .containers(@justifyContent: space-around, @width: 20%, @fontSize: 2rem);
    .right__user {
      text-align: center;
    }
    .right__sign {
      .containers();
      .buttons();
    }
    .right__sign:hover {
      cursor: pointer;
    }
  }
  .navbar__right--logged {
    .navbar__right();
    justify-content: center;
    .right--logged__hamburger {
      margin-top: 1rem !important;
    }
  }
}
.popover {
  .containers(@height: 25%, @fontSize: 1.5rem);
  background: @elementBG !important;
  color: @textColor;
  border: 0.1rem solid black;
  text-align: center;
  top: -40px !important;
  width: 60% !important;
  z-index: 10;
  .popover-header {
    .headers(@fontSize: 2rem, @margin: 0.2rem);
  }
  .popover-body {
    .body(@fontSize: 1.5rem);
  }
  .popover-button {
    .buttons();
  }
}

.modal {
  .containers();
  .modal__title{
    .headers();
  }
  .modal__body{
    .body();
  }
  .modal__footer{
    .footer__button{
      .buttons();
    }
  }
}
