@import "./mixins.less";

.navbar {
  .containers(@width: 100vw, @flexDirection: row, @justifyContent: space-between);
  .backAndBorder(@borderRadius: 0);
  min-width: 100vw;
  max-width: 100vw;
  min-height: 15vh;
  max-height: 15vh;
  position: fixed;
  z-index: 5;
  border: .1rem solid @siteColor;
  border-width: 0 0 0.1rem 0;
  .navbar__logo {
    min-width: 10%;
    max-width: 10%;
    min-height: 90%;
    max-height: 90%;
    margin: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  .navbar__center {
    .containers(@width: 50vw);
    min-width: 50vw;
    max-width: 50vw;
    .center__search {
      .containers(@flexDirection: row);
      min-width: 100%;
      max-width: 100%;
      padding-left: 5vw;
      .search__input {
        .input(@borderRadius: 0);
        border: 0.1rem solid @siteColor;
        border-right: 0.1rem solid grey;
        border-right-style: dashed;
        min-width: 50%;
        max-width: 50%;
        min-height: 2.5rem;
      }
      .search__input:last-of-type {
        border-left: 0;
        border-right: 0;
        min-width: 40%;
        max-width: 40%;
      }
      .search__button {
        .button(@borderRadius: 0);
      }
    }
  }
  .navbar__right {
    .containers(@justifyContent: space-around, @flexDirection: row);
    min-width: 20vw;
    max-width: 20vw;
    padding-right: 2vw;
    .right__sign {
      .containers();
      .button();
      min-width: 35%;
      max-width: 35%;
      min-height: 35%;
      max-height: 35%;
    }
  }
  .navbar__right--logged {
    .containers(@justifyContent: flex-end, @flexDirection: row);
    min-width: 15vw;
    max-width: 15vw;
    padding-right: 2vw;
    .right--logged__text {
      .hidden();
      padding: 0 0.2rem;
      text-align: left;
    }
  }
}
.popover {
  .containers(@height: 15%);
  background: @altBG !important;
  color: @siteColor;
  border: 0.1rem solid black;
  text-align: center;
  top: -8% !important;
  left: 9.5% !important;
  width: 46% !important;
  z-index: 10;
  .popover__text {
    margin: 0.5rem 0 0 0;
  }
  .popover__button {
    .button();
    margin: 0.5rem 0 0 0;
  }
}

.modal {
  .containers();
  .modal__title {
    .title();
    padding: 0.5rem;
  }
  .modal__body {
    padding: 0.5rem;
    .body();
  }
  .modal__footer {
    .footer__button {
      .button();
    }
  }
}