@import 'mixins.less';

.new-review {
  .new-review__modal {
    .containers();
    text-align: center;
    color: @textColor;
    .modal__header {
      height: auto;
      font-size: 3rem;
    }
    .modal__body {
      .containers();
      .body__drop {
        .drop__container{
          .containers();
          max-width: 200px;
          min-height: 200px;
          border: .1rem dashed @textColor;
        }
        .drop__container:hover {
          cursor: pointer;
        }
        .containers(@flexDirection:row);
        .drop__text--initial {
          font-size: 1rem;
        }
        .drop__image--post {
          .containers(); 
          min-width: 200px;
          min-height: 200px;
        }
      }
      .body__title {
        .containers(@flexDirection:row, @justifyContent: flex-start);
        height: 20%;
        margin: 1rem;
        .title__label {
          text-align: right;
          width: 20%;
          padding-right: 2rem;
        }
        .title__info {
          font-size: 1.5rem;
          width: 60%;
        }
      }
      .body__review {
        .containers(@flexDirection:row, @justifyContent: flex-start, @alignItems: flex-start);
        margin: 1rem;
        .review__label {
          text-align: right;
          padding-right: 2rem;
          width: 20%;
        }
        .review__info {
          font-size: 1.5rem;
          width: 60%;
          height: 10rem;
        }
      }
      .body__stars {
        .stars__rating {
        }
      }
    }
    .modal__footer {
      .containers(@flexDirection: column);
      .footer__buttons {
        .buttons__button {
          .buttons()
        }
      }
      .footer__text {
        color: red;
        height: 1rem;
        font-size: 1rem;
      }
      
    }
  }
}
