@import 'mixins.less';

.new-review {
  .new-review__modal {
    .containers();
    text-align: center;
    color: @color;
    .modal__header {
      height: auto;
      font-size: 3rem;
    }
    .modal__body {
      .containers();
      .body__images {
        .containers(@height: 6em, @flexDirection: row);
        .images__previews {
          height:inherit;
          .previews__preview {
            width: auto;
            height: 5em;
            margin: 0 1rem;
          }
          .previews__preview:hover{
            cursor: pointer;
          }
          .previews__text {
            font-size: 1.25rem;
          }
        }
        .images__image {
          background: black;
          width: 5em;
          height: 5em;
          margin: 0 1rem 2rem 1rem;
          .image__add:hover {
            cursor: pointer;
          }
          .image__text {
            font-size: 1.25rem;
          }
        }
        input[type='file'] {
          display: none;
        }
      }
      .body__title {
        .containers(@flexDirection:row, @justifyContent: flex-start);
        height: 20%;
        margin: 1rem;
        .title__label {
          text-align: right;
          width: 20%;
          padding-right: 2rem;
        }
        .title__info {
          font-size: 1.5rem;
          width: 60%;
        }
      }
      .body__review {
        .containers(@flexDirection:row, @justifyContent: flex-start, @alignItems: flex-start);
        margin: 1rem;
        .review__label {
          text-align: right;
          padding-right: 2rem;
          width: 20%;
        }
        .review__info {
          font-size: 1.5rem;
          width: 60%;
          height: 10rem;
        }
      }
      .body__stars {
        .stars__rating {
        }
      }
    }
    .modal__footer {
      .containers(@flexDirection: row);
      .footer__button {
        .buttons()
      }
    }
  }
}
