@import "mixins.less";

.search {
  .containers(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
  min-height: 100vh;
  .search__title {
    .headers(@margin: 2rem 2rem 0 2rem);
    .backAndBorder();
  }
  .search__results {
    .containers(@flexDirection: row, @width: 90%, @height: auto, @alignItems: flex-start);
    min-height: inherit;
    flex-wrap: wrap;
    .results__result {
      .containers(@margin: 0 0 1rem 0, @justifyContent: space-between, @flexDirection: row);
      .backAndBorder();
      min-width: 50vw;
      max-width: 50vw;
      min-height: 30vh;
      max-height: 30vh;
      opacity: 0.8;
      .result__image {
        .images(@top: 0);
        min-height: inherit;
        max-height: inherit;
        min-width: 40%;
        max-width: 40%;
      }
      .result__logo {
        .containers();
        min-height: 100%;
        min-width: 30%;
        max-width: 30%;
        .logo__image {
          .images(@top: 0);
          border: 0;
          min-height: 50%;
          max-height: 50%;
          min-width: 50%;
          max-width: 50%;
        }
      }
      .result__info {
        .containers(@justifyContent: space-around);
        min-height: inherit;
        max-height: inherit;
        min-width: 30%;
        max-width: 30%;
        .info__name {
          .containers();
          .name__title {
            .titles();
            font-size: 1.5rem;
            padding: 0.5rem;
          }
          .name__rating {
            .body();
          }
        }
        .info__address {
          .containers();
          min-width: 100%;
          .address__city {
            .body();
            padding-top:.5rem;
            text-align: center;
            min-width: 100%;
          }
        }
        .info__type {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  .results__pagination {
    .containers(@flexDirection: row, @justifyContent: space-between);
    .backAndBorder();
    width: 20vw;
    max-width: 20vw;
    margin: 1rem 0;
    padding: 0.5rem;
    .pagination__pages {
      .containers(@flexDirection: row, @justifyContent: flex-end);
      max-width: 70%;
      .pagination__page {
        .buttons();
        width: 5%;
        margin: 0 0.5rem;
      }
      .pagination__page:hover {
        cursor: pointer;
      }
      .pagination__page:active {
        animation: shake 0.1s both;
      }
      .pagination__page--no-hover {
        width: 5%;
        cursor: default;
      }
    }
  }
}
.search--no-results {
  .containers(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
  min-height: 100vh;
  .search__title {
    .headers(@margin: 2rem 2rem 0 2rem);
    .backAndBorder();
  }
  .search__no-results {
    .containers();
    .headers(@margin: 5rem);
    .no-results__text {
      margin-top: 2rem;
    }
  }
}
.no-logo {
  font-size: 0.7rem;
}

.active {
  font-weight: 1000;
  animation: shake 0.5s both;
}

@keyframes shake {
  10%,
  50%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  30%,
  70% {
    transform: translate3d(1px, 0, 0);
  }
}
