@import "mixins.less";

.search {
  .container(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
  min-height: 100vh;
  .search__title {
    .header();
    .backAndBorder();
    margin: 1rem;
  }
  .search__results {
    .container(@flexDirection: row, @width: 90%, @height: auto, @alignItems: flex-start);
    min-height: inherit;
    flex-wrap: wrap;
    .results__result {
      .container(@margin: 1rem, @flexDirection: row);
      .backAndBorder();
      min-width: 60vw;
      max-width: 60vw;
      min-height: 30vh;
      max-height: 30vh;
      .shadowHover();
      .result__image {
        .image(@top: 0);
        left: -2rem;
        min-height: 28vh;
        max-height: 28vh;
        min-width: 20vw;
        max-width: 20vw;
      }
      .result__info {
        .container(@justifyContent: space-around, @padding: 1rem);
        min-height: inherit;
        max-height: inherit;
        .info__name {
          .container();
          .name__title {
            .title();
            width: 100%;
            text-align: center;
            padding: 1rem;
          }
          .name__rating {
            .body();
            padding: 1rem;
          }
        }
        .info__address {
          .container(@flexDirection: row);
          .address__city {
            .body();
            padding:1rem;
            text-align: center;
          }
        }
        .info__type {
          text-align: center;
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
  .results__pagination {
    .container(@flexDirection: row, @justifyContent: space-between);
    .backAndBorder();
    width: 20vw;
    max-width: 20vw;
    margin: 1rem 0;
    padding: .5rem 1rem;
    .pagination__pages {
      .container(@flexDirection: row, @justifyContent: flex-end);
      max-width: 70%;
      .pagination__page {
        .button();
        width: 10%;
        margin: 0 0.2rem;
      }
      .pagination__page:hover {
        cursor: pointer;
      }
      .pagination__page:active {
        animation: shake 0.1s both;
      }
      .pagination__page--no-hover {
        width: 5%;
        cursor: default;
      }
    }
  }
}
.search--no-results {
  .container(@padding: 15vh 0 5vh 0, @justifyContent: flex-start);
  min-height: 100vh;
  .search__title {
    .header();
    .backAndBorder();
    margin: 1rem;
  }
  .search__no-results {
    .container();
    .header();
    .backAndBorder();
    width: 50vw;
    margin: 2rem;
    .no-results__text {
      margin-top: 2rem;
    }
  }
}