@import 'mixins.less';

.signin {
  .containers();
  padding-top: 20vh;
  min-height: 100%;
  cursor: default;
  .signin-container {
    .containers(@width: 50%);
    .backAndBorder();
    color: @textColor;
    padding: 1rem;
    min-height: 50vh;
    .signin-container__header {
      .headers();
    }
    .signin-container__form {
      .containers(@height: auto);
      .signin-container__input {
        border: 0.1rem solid @textColor;
        background: @elementBG;
        margin-bottom: 1rem;
        width: 75%;
        font-size: 1.25rem;
        padding: .5rem;
      }
      .signin-container__buttons {
        .containers(@justifyContent: space-around);
        .signin-container__google-auth {
          min-width: 50%;
          max-width: 50%;
          min-height: 10vh;
          max-height: 10vh;
          border-radius: 1rem;
        }
        .signin-container__google-auth:hover {
          cursor: pointer;
        }
        .signin-container__button {
          .buttons();
        }
        .signin-container__button:hover {
          cursor: pointer;
        }
      }
    }
  }
}

hr {
  border: .2rem solid @textColor;
  margin: 2rem 0;
  width: 100%;
  height: 1rem;
}
