@import 'mixins.less';

.signin {
  .containers();
  padding-top: 25vh;
  min-height: 100%;
  cursor: default;
  .signin-container {
    .containers(@width: 50%, @padding: 1rem);
    .backAndBorder();
    cursor: default;
    .signin-container__header {
      font-size: 3rem;
      color: @textColor;
      height: auto;
    }
    .signin-container__form {
      .containers(@height: auto);
      .signin-container__input {
        border: 0.1rem solid black;
        margin-top: 2rem;
        width: 50%;
        font-size: 1.5rem;
      }
      .signin-container__error {
        // temporary placeholder since we can't have error messages yet without backend to get the warnings off my back
        content: none;
      }
      .signin-container__error--hidden {
        display: none;
      }
      .signin-container__buttons {
        .containers();
        .signin-container__google-auth {
          max-width: 75%;
          height: 50%;
        }
        .signin-container__google-auth:hover {
          cursor: pointer;
        }
        .signin-container__button {
          border: outset;
          padding: 0.5rem;
          margin: 2rem;
          font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
          font-size: 1.5rem;
          border-color: black;
        }
        .signin-container__button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
