@import 'mixins.less';

.signup {
  .container();
  padding-top: 20vh;
  cursor: default;
  .signup-container {
    .container(@width: 50%);
    .backAndBorder();
    color: @textColor;
    padding: 1rem;
    min-height: 60vh;
    .signup-container__header {
      .header();
    }
    .signup-container__stripe {
      .container();
    }
    .signup-container__form {
      .container();
      .signup-container__input {
        border: 0.1rem solid @textColor;
        background: @elementBG;
        margin-bottom: 1rem;
        width: 75%;
        padding: .5rem;
      }
      .signup-container__buttons {
        .container(@justifyContent: space-around);
        .signup-container__google-auth {
          min-width: 50%;
          max-width: 50%;
          min-height: 10vh;
          max-height: 10vh;
          border-radius: 1rem;
        }
        .signup-container__google-auth:hover {
          cursor: pointer;
        }
        .signup-container__button {
          .button();
          width: auto;
          padding: 0 .5rem;
        }
        .signup-container__button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
