@import 'mixins.less';

.signup {
  .containers();
  padding-top: 20vh;
  cursor: default;
  .signup-container {
    .containers(@width: 50%);
    .backAndBorder();
    color: @textColor;
    padding: 1rem;
    min-height: 60vh;
    .signup-container__header {
      .headers();
    
    }
    .signup-container__stripe {
      .containers();
    }
    .signup-container__form {
      .danger{
        color: red;
      }
      .containers();
      .signup-container__input {
        border: 0.1rem solid @textColor;
        background: @elementBG;
        margin-bottom: 1rem;
        width: 75%;
        font-size: 1.25rem;
        padding: .5rem;
      }
      .signup-container__buttons {
        .containers(@justifyContent: space-around);
        .signup-container__google-auth {
          min-width: 50%;
          max-width: 50%;
          min-height: 10vh;
          max-height: 10vh;
          border-radius: 1rem;
        }
        .signup-container__google-auth:hover {
          cursor: pointer;
        }
        .signup-container__button {
          .buttons();
        }
        .signup-container__button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
