@import './mixins.less';

.stripe {
  height: 100%;
  font-size: 1.5rem;
  color: @color;
  width: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .stripe__info {
    .containers();
    .info__label {
      .containers(@justifyContent: space-between, @flexDirection: row, @alignItems: initial);
      margin: 1rem;
      font-size: 1.5rem;
      .info__input {
        border: 0.1rem solid black;
        font-size: 1.5rem;
      }
    }
  }
  .stripe__radio {
    .containers(@alignItems: flex-start);
    margin-left: 20%;
    .radio__label {
    }
    .radio__button:hover {
      cursor: pointer;
    }
  }
  .stripe__button {
    border: outset;
    width: 30%;
    padding: 0.2rem;
    margin: 0 2rem;
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 1.5rem;
  }
  .stripe-button:hover {
    cursor: pointer;
  }
  .stripe__elemnt {
    width: 70%;
    float: right;
    position: relative;
    top: 50%;
    font-size: 2rem;
    margin: 2rem;
  }
}
