@import './mixins.less';

.stripe {
  .containers(@fontSize: 1.5rem);
  .stripe__info {
    .containers();
    .info__label {
      .containers(@justifyContent: space-between, @flexDirection: row, @alignItems: initial);
      margin: 1rem;
      font-size: 1.5rem;
      .info__input {
        border: 0.1rem solid black;
        font-size: 1.5rem;
      }
    }
  }
  .stripe__radio {
    .containers(@alignItems: flex-start);
    margin-left: 50%;
    .radio__label {
      font-size: 1.5rem;
    }
    .radio__button:hover {
      cursor: pointer;
    }
  }
  .stripe__button {
    .buttons();
    width: 30%;
  }
  .stripe__element {
    width: 70%;
    float: right;
    position: relative;
    top: 50%;
    font-size: 2rem;
    margin: 2rem;
  }
}