@import "mixins.less";

.thumbnail {
  .containers(@justifyContent: space-between, @fontSize: 1.5rem);
  .backAndBorder();
  opacity: 0.8;
  margin: 1rem;
  padding: 1rem;
  height: 25rem;
  width: 22%;
  max-width: 22%;
  min-width: 22%;
  .thumbnail__landscape {
    .images(@height: 60%);
    max-height: 60%;
    min-height: 60%;
    max-width: 100%;
    min-width: 100%;
  }
  .thumbnail__portrait {
    .images(@width: 40%, @height: 60%);
    max-height: 60%;
    min-height: 60%;
    max-width: 40%;
    min-width: 40%;
    margin: 0 30%;
  }
  .thumbnail__description {
    .containers(@height: 50%);
    .description__title {
      font-size: 1.5rem;
    }
    .description__info {
      .body(@fontSize: 1.5rem);
      text-align: center;
      padding: 0.3rem;
    }
  }
}
.thumbnail:hover {
  opacity: 1;
}
