@import "mixins.less";

.thumbnail {
  .containers(@height: 25rem, @width: 20%, @justifyContent: space-between, @fontSize: 1.5rem);
  .backAndBorder();
  opacity: 0.8;
  margin: 1rem;
  padding: 1rem;
  min-height: 25rem;
  min-width: 20%;
  text-align: center;
  .thumbnail__landscape {
    .images();
    width: 100%;
    min-width: 100%;
    min-height: 15rem;
    max-height: 15rem;
  }
  .thumbnail__description {
    .containers(@justifyContent: space-around);
    .description__title {
      .hidden();
      .titles();
      width: 100%;
    }
    .description__info {
      .body();
      .hidden();
      padding-top: 1rem;
      width: 100%;
    }
  }
}
.thumbnail:hover {
  opacity: 1;
}
