@import "mixins.less";

.thumbnail {
  .container(@height: 25rem, @width: 20%, @justifyContent: space-between);
  .backAndBorder();
  .shadowHover();
  .shadow();
  margin: 1rem;
  padding: 1rem;
  min-height: 25rem;
  min-width: 20%;
  text-align: center;
  .thumbnail__landscape {
    .image();
    width: 100%;
    min-width: 100%;
    min-height: 15rem;
    max-height: 15rem;
  }
  .thumbnail__description {
    .container(@justifyContent: space-around);
    .description__title {
      .hidden();
      .title();
      padding: 0.5rem;
    }
    .description__info {
      .body();
      .hidden();
      padding-top: .5em;
      width: 100%;
    }
  }
}
.thumbnail:hover {
  opacity: 1;
}