@import "mixins.less";

.user {
  .containers(@width: auto, @justifyContent: flex-start, @alignItems: flex-start);
  padding-top: 25vh;
  padding-left: 5rem;
  color: @textColor;
  .user__header {
    .containers(@flexDirection: row, @height: 5rem);
    .header__breadcrumbs {
      .containers(@flexDirection:row, @height:inherit, @alignItems:flex-start, @justifyContent: flex-start);
      font-size: 1.5rem;
      .breadcrumbs__breadcrumb {
        border: none;
        width: auto;
        font-size: 1.5rem;
        background-color: @elementBG;
        color: @textColor;
        margin: 0 1rem;
        .breadcrumb__arrow {
          padding: 0 1rem;
        }
        .breadcrumb__arrow:hover {
          cursor: default;
        }
      }
      .breadcrumbs__breadcrumb:hover {
        cursor: pointer;
      }
    }
    .header__signout {
      .containers(@alignItems: flex-end, @justifyContent: flex-start);
      width: auto;
      padding-right: 5rem;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .header__signout:hover {
      cursor: pointer;
    }
  }
  .user__body {
    .containers(@flexDirection: row, @alignItems:flex-start, @justifyContent:space-between);
    min-height: 100vh;
    .body__left-bar {
      .containers(@width: 20vw, @height: auto, @justifyContent:flex-start, @alignItems: flex-start);
      border: 0.1rem solid black;
      .left-bar__button {
        border: none;
        width: 100%;
        font-size: 1.5rem;
        background-color: @elementBG;
        color: @textColor;
        padding: 1rem;
      }
      .left-bar__button:hover {
        filter: brightness(120%);
        cursor: pointer;
      }
    }
    .body__content {
      .containers(@justifyContent: flex-start, @alignItems: flex-start);
      .content__reviews-container {
        .containers(@padding: 1rem 1rem 0 1rem, @margin: 0 1rem);
        min-width: 75vw;
        max-width: 75vw;
        min-height: 85vh;
        max-height: 85vh;
        .backAndBorder();
        .reviews-container__dropdowns {
          .containers(@flexDirection: row, @justifyContent: space-between);
          .reviews__pagination {
            .containers(@flexDirection: row, @justifyContent: space-between);
            .backAndBorder(@background: @elementBG);
            width: 40vw;
            min-width: 50%;
            padding: 0.5rem;
            margin: 1rem;
            .pagination__pages {
              .containers(@flexDirection: row);
              max-width: 70%;
              .pagination__page {
                .buttons();
                width: 5%;
                margin: 0 0.5rem;
              }
              .pagination__page:hover {
                cursor: pointer;
              }
              .pagination__page:active {
                animation: shake 0.1s both;
              }
              .pagination__page--no-hover {
                width: 5%;
                cursor: default;
              }
            }
          }
          .dropdowns__dropdown {
            display: flex;
            flex-direction: row;
            z-index: 2;
            .dropdown__title {
              font-size: 2rem;
            }
            .dropdown__drop-container {
              margin-left: 2rem;
              width: 15rem;
              text-align: center;
              .drop-container__button {
                width: inherit;
                font-size: 1.5rem;
                color: @textColor;
              }
              .drop-container__button:hover {
                cursor: pointer;
              }
              .drop-container__menu {
                position: absolute;
                z-index: 2;
                display: flex;
                flex-direction: column;
                width: inherit;
                .menu__button {
                  width: inherit;
                  border: none;
                  font-size: 1.5rem;
                  color: @textColor;
                }
                .menu__button:hover {
                  filter: brightness(80%);
                  cursor: pointer;
                }
              }
            }
          }
        }
        .reviews-container__button {
          .buttons();
        }
        .reviews-container__reviews {
          .containers(@justifyContent: space-between);
          min-height: 75vh;
          flex: 1;
          .reviews__review {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 2rem;
            .review__info {
              .containers();
              .backAndBorder();
              height: 15rem;
              min-width: 17%;
              max-width: 17%;
              margin: 1rem;
              padding: 1rem;
              color: @textColor;
              opacity: 0.8;
              .review__landscape {
                .images();
                width: 75%;
                min-width: 75%;
                height: 50%;
                min-height: 50%;
              }
              .review__image:hover {
                cursor: pointer;
              }
              .info__detailed {
                .containers();
                .detailed__stars {
                  text-align: center;
                }
                .detailed__business {
                  .body(@fontSize: 1.5rem);
                  text-align: center;
                }
              }
            }
            .review__info:hover {
              opacity: 1;
            }
          }
        }
      }
      .content__billing {
        .containers(@padding: 1rem 1rem 0 1rem, @margin: 0 1rem);
        min-width: 75vw;
        max-width: 75vw;
        min-height: 85vh;
        max-height: 85vh;
        .backAndBorder();
        .billing__section {
          .containers(@width: 40%, @justifyContent: space-between, @flexDirection: row);
          .billing__info {
            .body(@fontSize: 1.5rem);
          }
        }
      }
      .content__profile {
        .containers(@justifyContent: space-between, @padding: 1rem 1rem 0 1rem, @margin: 0 1rem);
        min-width: 75vw;
        max-width: 75vw;
        min-height: 85vh;
        max-height: 85vh;
        .backAndBorder();
        .profile__image {
          .images(@top: 0);
          width: 40%;
          min-width: 40%;
          height: 40%;
          min-height: 40%;
        }
        .profile__container {
          .user-change__input {
            padding: 0.5rem;
            font-size: 1.25rem;
          }
          .containers(@width: 70%, @padding: 5rem 0);
          .container__info {
            .containers(@flexDirection: row, @justifyContent: space-between);
            .backAndBorder(@background: @elementBG);
            margin: 1rem;
            height: 2rem;
            max-height: 2rem;
            .info__label {
              font-size: 1.5rem;
              width: 20%;
              min-width: 20%;
            }
            .info__data {
              width: 60%;
              min-width: 60%;
              font-size: 1.5rem;
              .containers();
              .data__input {
                width: 90%;
                min-width: 90%;
                font-size: 1.5rem;
                max-height: 1.9rem;
                background: @buttonBG;
              }
              .data__button {
                .buttons();
                margin: 0;
              }
            }
            .noDisplay {
              display: none;
            }
            .info__button {
              .buttons();
              margin: 0;
              &:hover {
                cursor: pointer;
              }
            }
            .info__button--save {
              .buttons();
              margin: 0 1rem 0 0;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .body__footer {
      min-height: 10vh;
    }
  }
}
